.quote {
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  z-index: 20;
  margin-top: 30px;
  box-sizing: border-box;
  color: #640D23;
  padding: 0 20px;
}

.quote__wrapper {
  border-left: 15px solid #C03711;
  padding: 50px;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 1px 0.5px 0px rgba(0, 0, 0, .11);
}

.quote__wrapper > h2 {
  margin-top: 0;
  line-height: 1;
  font-size: 2.5rem;
}

.quote__text {
  margin: 2rem 0 1rem;
  font-size: 1.75rem;
}

.quote__source-label,
.quote__source-item {
  display: inline-block;
  margin: 0 0.25rem;
}

.quote__source-label::after {
  content: ':';
}

.quote__source-item a:focus {
  outline: solid 1px #1E3650;
  padding-bottom: 4px;
}

@media only screen and (min-width: 767px) {
  .quote {
    max-width: 767px;
    margin-top: -140px;
    margin-bottom: 2rem;
  }

  .quote::after {
    content: '';
    display: table;
    clear: both;
  }

  .quote__wrapper {
    width: 44%;
    float: right;
  }
}

@media only screen and (min-width: 1024px) {
  .quote {
    max-width: 1024px;
  }
}