.featured-image-block {
  margin: 3rem 0;
  /* border-top: 15px solid #24728A; */
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11);
}

.featured-image-block__wrapper {
  position: relative;
  padding: 3rem 2rem;
}

.featured-image-block__img {
  position: absolute;
  right: -14px;
  top: -56px;
}

.featured-image-block__img img {
  border-radius: 60px;
  border: 6px solid #fed8ce;
}
