:root {
  --marron: #640d23;
}

.menu {
  margin: 0;
  padding: 0;
}

.menu a {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  transition: all 0.3s;
  text-decoration: none;
}

.menu-main a {
  color: var(--marron);
}

.menu a:hover {
  padding: 0.75rem;
}

.privacy-policy a {
  text-transform: none;
  font-size: 0.75rem;
}

@media only screen and (min-width: 767px) {
  .menu-main li {
    display: inline-block;
  }

  .menu a {
    font-size: 1.25rem;
    padding: 1rem;
  }

  .menu a:hover {
    padding: 1rem;
  }

  .privacy-policy a {
    text-transform: none;
    font-size: 0.75rem;
  }
}
