:root {
  --navy: #1e3650;
  --pale-blue: #b5d8ff;
}

.hero {
  padding: 3rem 0;
  background: var(--pale-blue);
  color: var(--navy);
}

.hero__text-wrapper {
  max-width: 52rem;
  margin: 0 auto;
  padding: 1.5rem;
}

.hero__cta a {
  border-radius: 16px;
  border: 2px solid;
  padding: 12px 14px;
  font-weight: 500;
  color: var(--navy);
  font-size: 1.25rem;
  display: inline-block;
  transition: transform 0.3s;
}

.hero__cta a:hover,
.hero__cta a:focus {
  transform: scale(1.1);
}

.hero__cta a:focus {
  outline: solid 3px var(--navy);
}

@media only screen and (min-width: 767px) {
  .hero__body--break {
    display: block;
  }

  .hero__body p {
    line-height: 1.5;
  }
}
