.mailchimp-signup__form h2 {
  margin-top: 0;
}

.mailchimp-signup__form label {
  display: inline-block;
  width: 6.875rem;
}

.mailchimp-signup__form label::after {
  content: ':'
}

.mailchimp-signup__email,
.mailchimp-signup__name {
  margin-bottom: 0.75rem;
}

.mailchimp-signup__form input[type="submit"] {
  border-radius: 5px;
  border: none;
  padding: 5px;
  font-weight: 500;
  font-family: "PT Sans", sans-serif;
  color: #fff;
  background: #D73C13;
  font-size: 1rem;
} 