.blog__items {
  margin: 0 auto;
  padding: 0 20px;
}

.blog__more-link {
  text-align: center;
}

.blog__more-link a {
  border-radius: 5px;
  border: none;
  padding: 7px;
  font-weight: 500;
  color: #fff;
  background: #C03711;
  font-size: 1.25rem;
  display: inline-block;
  transition: transform 0.3s
}

.blog__more-link a:hover,
.blog__more-link a:focus {
  transform: scale(1.1);
}

.blog__more-link a:focus {
  outline: 2px solid #1E3650;
}

@media only screen and (min-width: 767px) {
  .blog__items {
    display: flex;
    justify-content: space-between;
    max-width: 767px;
  }

  .blog__item {
    flex-basis: 31%;
  }
}

@media only screen and (min-width: 1024px) {
  .blog__items {
    max-width: 1024px;
  }
}