:root {
  --marron: #640d23;
}

.blog {
  max-width: 52rem;
  padding: 2rem 1.5rem;
  margin: 0 auto;
}

.blog__items {
  margin: 2rem 0;
}

.blog__title {
  margin: 0.625rem 0;
  font-size: 1.3125rem;
}

.blog__more-link a {
  border-radius: 16px;
  border: 2px solid;
  padding: 12px 14px;
  font-weight: 500;
  color: var(--marron);
  font-size: 1.25rem;
  display: inline-block;
  transition: transform 0.3s;
}

.blog__more-link a:hover,
.blog__more-link a:focus {
  transform: scale(1.1);
}

.supporters-tier ul {
  display: flex;
  list-style: none;
}

.supporters-tier li {
  margin: 0 0.5rem;
}
