:root {
  --navy: #1e3650;
  --teal: #24728a;
}

header a:focus {
  outline: solid 2px #f3e9ea;
}

.header-wrapper {
  margin: 0 auto;
  padding: 0 1.5rem;
  max-width: 52rem;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin: 0;
  padding: 3rem 0 1rem;
}

.logo img {
  width: 175px;
}

@media only screen and (min-width: 767px) {
  .logo img {
    width: 200px;
  }
}
