.header-wrapper {
  margin: 0 auto;
  padding: 0 1.5rem;
  max-width: 52rem;
  display: grid;
  grid-template-rows: 3rem 5.875rem;
  grid-template-columns: 25% auto 13rem;
}

.header__right {
  display: flex;
}

.logo {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  margin: 0;
}

.logo img {
  width: 175px;
}

@media only screen and (min-width: 767px) {
  .logo img {
    width: 200px;
  }
}
