:root {
  --navy: #1E3650;
  --teal: #24728A;
}

header {

  /* margin: 0 auto; */
}

header a:focus {
  outline: solid 2px #F3E9EA;
}

.header-wrapper {
  margin: 0 auto;
  padding: 0 1.5rem;
  max-width:52rem;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin: 0;
  padding: 3rem 0 1rem;
}

.logo img {
  width: 175px;
}

@media only screen and (min-width: 767px) {
  /* .header-wrapper {
    max-width: 767px;
  } */

  .logo img {
    width: 200px;
  }
}

@media only screen and (min-width: 1024px) {
  /* .header-wrapper {
    max-width: 1024px;
  } */
}

