:root {
  --navy: #1e3650;
  --off-white: #f3e9ea;
}

footer {
  background: var(--navy);
  padding: 15px 0;
  color: var(--off-white);
}

.footer-wrapper {
  margin: 0 auto;
  padding: 0 20px;
}

.footer-menu li {
  list-style: none;
  text-align: left;
}

.footer-details {
  display: flex;
  flex-direction: column;
}

footer a {
  color: var(--off-white);
}

footer a:focus {
  outline: solid 2px #f3e9ea;
}

footer input:focus {
  outline: solid 2px #f3e9ea;
}

.social {
  display: flex;
  padding: 0;
}

.social li {
  list-style: none;
  padding: 1rem;
}

.social a {
  font-size: 1.5rem;
  border-bottom: none;
}

.credit {
  font-size: 0.75rem;
  margin: 2.5rem 20px 1rem;
}

@media only screen and (min-width: 767px) {
  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 767px;
  }

  .social {
    justify-content: flex-end;
  }

  .credit {
    text-align: center;
  }
  .convertkit-signup--footer {
    align-self: flex-end;
  }
}

@media only screen and (min-width: 1024px) {
  .footer-wrapper {
    max-width: 1024px;
  }
}
